DB_HOST=sql7.freesqldatabase.com
DB_USER=usuario_de_la_base_de_datos
DB_PASSWORD=contraseña_de_la_base_de_datos
DB_NAME=nombre_de_la_base_de_datos
TELEGRAM_TOKEN=pega_aqui_el_token_nuevo
TELEGRAM_CHAT_ID=pega_aqui_el_chat_id
TWILIO_ACCOUNT_SID=pega_aqui_el_account_sid
TWILIO_AUTH_TOKEN=pega_aqui_el_auth_token
TWILIO_NUMBER=numero_de_twilio
YOUR_NUMBER=tu_numero_de_telefono
